*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-rows: 10rem repeat(5, 40rem);
  grid-template-columns: repeat(5, 40rem); }

.sidebar {
  background-color: #6D5D4B;
  grid-column: 1/1;
  grid-row: 2/-1; }

.header {
  grid-column: 1/-1;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  .header__logo--1 {
    width: 50%;
    height: 100%; }
  .header__logo--2 {
    width: 100%;
    height: 100%;
    align-self: center; }
  .header__logo--3 {
    width: 50%;
    height: 100%;
    justify-self: end; }

.videos {
  background-color: #101d2c;
  grid-column: 2/-1;
  grid-row: 2/-1; }
